
<% @purses.each do |purse| %>
  <h2>Name: <a href ="/purses/<%= purse.id %>">><%= purse.name %></a></h2>
  <h4>Price: <%= purse.price %></h4>
  <img class= "purse_image" src=<%= purse.image %>> 
  <h4>Description: <%= purse.description %></h4>
  <br>
<% end %>
