<div class="item-view">
  <h2><%= @purse.name %></h2>
  <br>
  <h4 class="<%= "red-price" if @purse.discounted? %>">Price: <%= number_to_currency(@purse.price )%></h3>
  
  <% if @purse.discounted? %>
    <h4>Discounted Item!</h4>
  <% else %>
    <h4>Everyday Great Value!</h4>
  <% end %>

  <h5>Tax: <%= number_to_currency(@purse.tax )%></h5>
  <h4>Total: <%= number_to_currency(@purse.total )%></h4>

  <% @purse.categories.each do |category| %>
        <h5>Category: <%= category.name %></h5>
  <% end %>


  <% @purse.images.each do |image| %>
  <img class="purse_image" src="<%= image.url %>" alt=”<%= @purse.name %>” class=”img-responsive">
  <% end %>

  <h5>Description: </h5>
  <h4 class="description"><%= @purse.description %></h4>

  <%= link_to "Edit Purse", "/purses/#{ @purse.id}/edit", class: "btn btn-warning" %>
  <%= link_to "Delete Purse", "/purses/#{ @purse.id }", method: :delete, class: "btn btn-danger" %>

  <h6>Supplier: <%=  @purse.supplier.name %></h6>



  <%=form_tag "/orders", method: :post do %>
  <div>
  Quantity: <input type="text" name="quantity">
  <input type="hidden" name="purse_id" value="<%= @purse.id %>">
  </div>

  <input type="submit" value="Buy Now">
  <% end %>

