<h2>Order #75030<%= @order.id %> Successfully Created</h2>

<h3>Bought by:<%= @order.user.name %> </h3>

<% @order.carted_purses.each do |carted_purse| %>
        <h3><%=  carted_purse.purse.name %>  X  <%= carted_purse.quantity %></h3>
        <br>
        <h3>Purse Price: <%= number_to_currency(carted_purse.purse.price) %></h3>
        <br>
        <h3>Subtotal: <%= number_to_currency(@order.subtotal) %></h3>
        <h3>Tax: <%= number_to_currency(@order.tax) %></h3>
        <h3>Total Price: <%= number_to_currency(@order.total) %></h3>
        <br>
<% end %>



