<h1>Check Out</h1>

    <% @carted_purses.each do |carted_purse| %>
          <h2>Name: <%= carted_purse.purse.name %></a></h2>
          <h3>Price: $<%= carted_purse.purse.price %></h3>
          <h3>Quantity: $<%= carted_purse.quantity %></h3>

          <%= link_to "remove", "/carted_purses/#{carted_purse.id}", method: :delete  %>
    <% end %>

    <br>
    <br>
    <%= link_to "Buy Now", "/orders", method: :post, class: "btn btn-primary" %><!--this is best way to make the button link cleaner to look at, as opposed to the regular form tag way with a button -->

